<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io/favicon.ico')}}">
  <title>Error Generation Module</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('static/2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    </style>
</head>

<body {margin-top: 300px;}>
  


  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="content">
          <h1 style="color : black; font-weight: bold; font-size: 30px;">Error Generation Module</h1><br><br>
          <h6 style="color : blue;  font-weight: bold; font-size: 15px;">উদাহরণসমূহ </h6>
          <h6 style="color : black;  font-size: 15px;">সহজে, স্বাচ্ছন্দ্যে বাংলা লিখুন</h6>
          <h6 style="color : black;  font-size: 15px;">আমাদের দেশে হবে সেই ছেলে কবে?</h6>
          <h6 style="color : black;  font-size: 15px;">ঝড়ে বক মরে ফকিরের কেরামতি বাড়ে</h6>
            
          <h6 style="color : black;  font-size: 15px;">সকলের তরে সকলে আমরা প্রত্যেকে মোরা পরের তরে</h6>
          <!-- <h6 style="color : black;  font-size: 15px;">মানুষ সিংহের প্রশংসা করে, কিন্তু আসলে গাধাকেই পছন্দ করে</h6>   -->
          <h6 style="color : black;  font-size: 15px;">তৃতীয় বিশ্বের নেতা হওয়ার জন্যে দুটি জিনিশ দরকার : বন্দুক ও কবর</h6> 
          
          <h6>***refresh to observe more combinations or write a new sentence</h6>
          <hr>
          <form action="{{ url_for('predict')}}" method="post">
            <div class="form-row">
              <div>
                <textarea name="message" rows="3" cols="150" class = "form-control" required="required"></textarea>
              </div>
            </div>
            <hr>
            <button style="color : black; type = submit class= btn btn-primary">Generate Error</button>
          </form>
          
          <hr>
          <h3 style="color : green; font-weight: bold; font-size: 30px;">{{ input_text }}</h3>
          <h3 style="color : red; fornt-weight: bold; font-size: 30px;">{{ prediction_text }}</h3>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>
